<ion-view view-title="个人中心">
	
	<ion-content>
		<div class="me_top">
			<div class="me_top_a">
				<a href="#/tab/login">登录</a>|
				<a href="#/tab/register">注册</a>
			</div>
		</div>	
		<ul class="me_ul">
			<li class="me_li">
				<a href=""><i class="icon ion-ios-cart"></i>
					待付款
				</a>
			</li>
			<li class="me_li">
				<a href=""><i class="icon ion-plane"></i>
					待发货
				</a>
			</li>
			<li class="me_li">
				<a href=""><i class="icon ion-ios-paper"></i>
					更多订单
				</a>
			</li>
			
		</ul>
		<div class="list list-inset me_list">

		    <div class="item">
		      	我的收藏
		     	<span>
		     		<i class="icon ion-ios-arrow-right"></i>
		     	</span> 	
		    </div>
		    <div class="item">
		      	购物车历史
		      	<span>
		     	<i class="icon ion-ios-arrow-right"></i>
		     </span>
		    </div>
		    <div class="item">
		      	浏览历史
		      	<span>
		     		<i class="icon ion-ios-arrow-right"></i>
		     	</span>
		    </div>
		    <div class="item">
		      	自助退货
		      	<span>
		     		<i class="icon ion-ios-arrow-right"></i>
		     	</span>
		    </div>
		    <div class="item">
		      	零钱
		      	<span>
		     		<i class="icon ion-ios-arrow-right"></i>
		     	</span>
		    </div>
		    <div class="item">
		      	优惠卷
		      	<span>
		     		<i class="icon ion-ios-arrow-right"></i>
		     	</span>
		    </div>
		    <div class="item">
		      	收货地址
		      	<span>
		     		<i class="icon ion-ios-arrow-right"></i>
		     	</span>
		    </div>
		    <div class="item">
		      	密码安全
		      	<span>
		     		<i class="icon ion-ios-arrow-right"></i>
		     	</span>
		    </div>
		
		</div>
	</ion-content>
</ion-view>