<ion-view view-title="我的订单">
	
	<ion-content style="background:#F5F5F5;">
		<div class="card">
			<div class="item item-text-wrap">
			    <div class="list">
					<div class="item item-avatar">
					    <img src="../img/04b6c7de-bd28-4c35-9ed2-1ae4db7ae4e5.jpg" style="border-radius: 0;
					    	max-height: 60px;max-width: 60px; left: 10px;top:0">
					    <h2 style="margin:-20px 0 5px 30px">女装</h2>
					    <p style="margin:0 0 5px 28px">￥999</p>
					    <div class="or_div">
					    	<a href="">删除</a>
					    	<a href="">确认付款</a>
					    </div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="card">
			<div class="item item-text-wrap">
			    <div class="list">
					<div class="item item-avatar">
					    <img src="../img/04b6c7de-bd28-4c35-9ed2-1ae4db7ae4e5.jpg" style="border-radius: 0;
					    	max-height: 60px;max-width: 60px; left: 10px;top:0">
					    <h2 style="margin:-20px 0 5px 30px">女装</h2>
					    <p style="margin:0 0 5px 28px">￥999</p>
					    <div class="or_div">
					    	<a href="">删除</a>
					    	<a href="">确认付款</a>
					    </div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="card">
			<div class="item item-text-wrap">
			    <div class="list">
					<div class="item item-avatar">
					    <img src="../img/04b6c7de-bd28-4c35-9ed2-1ae4db7ae4e5.jpg" style="border-radius: 0;
					    	max-height: 60px;max-width: 60px; left: 10px;top:0">
					    <h2 style="margin:-20px 0 5px 30px">女装</h2>
					    <p style="margin:0 0 5px 28px">￥999</p>
					    <div class="or_div">
					    	<a href="">删除</a>
					    	<a href="">确认付款</a>
					    </div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="card">
			<div class="item item-text-wrap">
			    <div class="list">
					<div class="item item-avatar">
					    <img src="../img/04b6c7de-bd28-4c35-9ed2-1ae4db7ae4e5.jpg" style="border-radius: 0;
					    	max-height: 60px;max-width: 60px; left: 10px;top:0">
					    <h2 style="margin:-20px 0 5px 30px">女装</h2>
					    <p style="margin:0 0 5px 28px">￥999</p>
					    <div class="or_div">
					    	<a href="">删除</a>
					    	<a href="">确认付款</a>
					    </div>
					</div>
				</div>
			</div>
			
		</div>
		
	</ion-content>
</ion-view>