<ion-view title="">
	
	
		
		<ion-content overflow-scroll="true" style="overflow: hidden">
			<ul class="search_ul" ng-click="search_tap()">
				<li class="search_li "><a class="search_active" href="#/tab/search/search_list/1">女装</a></li>
				<li class="search_li"><a href="#/tab/search/search_list/2">男装</a></li>
				<li class="search_li"><a href="#/tab/search/search_list/3">鞋靴</a></li>
				<li class="search_li"><a href="#/tab/search/search_list/4">箱包</a></li>
				<li class="search_li"><a href="#/tab/search/search_list/5">美妆</a></li>
				<li class="search_li"><a href="#/tab/search/search_list/6">手表配饰</a></li>
				<li class="search_li"><a href="#/tab/search/search_list/7">母婴</a></li>
				<li class="search_li"><a href="#/tab/search/search_list/8">户外运动</a></li>
				<li class="search_li"><a href="#/tab/search/search_list/9">家电数码</a></li>
				<li class="search_li"><a href="#/tab/search/search_list/10">家具家纺</a></li>
				<li class="search_li"><a href="#/tab/search/search_list/11">食品</a></li>
				<li class="search_li"><a href="#/tab/search/search_list/12">爱丽奢</a></li>
			</ul>
		<ion-nav-view name="search_view" style="width:275px;min-height:500px;right:0;border:0"></ion-nav-view>
		</ion-content>
		
</ion-view>