<ion-tabs class="tabs-icon-top tabs-assertive">
	<ion-tab title="首页" href="#/tab/home" icon="ion-home">
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>
	<ion-tab title="发现" href="#/tab/search/search_list/1" icon="ion-ios-search-strong">
		<ion-nav-view name="tab-search"></ion-nav-view>
	</ion-tab>
	<ion-tab title="订单" href="#/tab/order" icon="ion-document-text">
		<ion-nav-view name="tab-order"></ion-nav-view>
	</ion-tab>	
	<ion-tab title="我的" href="#/tab/me" icon="ion-person">
		<ion-nav-view name="tab-me"></ion-nav-view>
	</ion-tab>	
</ion-tabs>